body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #202020;
  color: white;
}
button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.2em;
}
svg path {
  fill: #555;
  stroke: #fff;
  stroke-width: 0.5;
  cursor: pointer;
}
svg path:hover {
  fill: orange;
}
